body {
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.box3 {
    width: 1200px;
}

.header {
    padding: 5px;
    margin: 2px 2px;
}

.left {
    display: inline-block;
}

.right {
    /* overflow: auto; */
    display: inline-block;
    width: 44%;
    float: right;
}

.hd1 {
    padding-left: 35px;
}

.navbar li {
    display: inline-block;
}

.navbar li a:hover {
    background-color: rgb(249, 153, 153);
    border: 1px solid gray;
    border-radius: 22px;
    padding: -10px;
}

.right ul li a {
    padding-right: 5px;
    text-decoration: none;
}

.slash :after {
    content: " /";
    color: red;
    font-family: monospace;
    font-size: 20px;
}

.hd2 {
    font: size 400px;
    width: 350px;
}

.d3 {
    /* border: 1px solid black; */
    display: block;
    width: 350px;
    margin: auto;
}

.container {
    padding: 20px;
    /* border:2px solid green; */
}

.container2 {
    display: flex;
    margin: 33px;
}

.column {
    /* border: 2px solid gray; */
    padding: 33px;
    float: left;
    width: 50%;
    margin: 5px;
}

.column1 {
    /* border: 2px solid gray; */
    padding: 182px;
    padding-top: 0px;
    padding-bottom: 20px;
    float: left;
    width: 18%;
    margin: 5px;
}

.img1 {
    padding-left: 0px;
    height: 500px;
    margin-top: -100px;
    margin-left: 40px;
}

.hrr2 {
    border: none;
    height: 3px;
    color: black;
    background-color: black;
    width: 33%;
    margin: auto;
}

.hd3 {
    width: 92%;
    font-family: Hanken Grotesk;
    font-size: 65px;
    font-weight: 500;
    line-height: 56px;
    padding-left: 366px;
}

.column2 {
    margin: 5px;
    /* border: 1px solid grey; */
    width: 33.33%;
    float: left;
    padding: 26px;
}

.column2 hd4 {
    margin: 5px;
    /* border: 5px solid grey; */
    width: 33.33%;
    float: left;
    padding: 12px;
}

.container3 hd5 {
    padding: 5px 5px 0px 5px;

}

.container3 {
    padding: 5px 5px 0px 5px;
    display: flex;
}

.hd4 {
    display: block;
    margin: auto;
    width: 33%;
}

.hd5 {
    display: block;
    margin: auto;
    width: 64%;
    padding-top: 23px;

}

.hd6 {
    display: block;
    margin: auto;
    width: 68%;
    padding-top: 23px;
}

.hd7 {
    font-weight: 600;
    display: inline-block;
    width: 248px;
    margin: auto;
    padding-top: 23px;
    padding-left: 87px;
}

.hd7 span {
    font-size: 15px;
    display: inline-block
}

.span1 {
    top: 10px;
    display: block;
    margin: auto;
    width: 56%;
}

.ul2 li:before {
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}

.ul2 li {
    text-align: left;
    list-style-type: none;
    font-size: 1em;
}

.rectanglebox {
    position: relative;
    height: 130px;
    padding-bottom: 137px;
    background-color: #E8E3DF;
    display: block;
    width: 1000px;
    margin: auto;
}

.hd8 {
    font-size: 50px;
    padding-left: 60px;
    display: block;
    width: 50%;
    margin: auto;
}

.hd8 span {
    font-size: 50px;
    color: white;
}

.hd9 {
    padding: 20px;
    float: right;
    width: 263px;
    color: grey;
    font-weight: 500;
}

.container4 {
    padding-left: 12px;
    padding-bottom: 10px;
    margin-top: -100px;
    background-color: black;
    height: 600px;
    padding-top: 50px;
}

.img2 {
    margin-top: -50px;
    /* padding-top: -100px; */
    padding-top: 40px;
    padding-left: 80px;
}

.coloum3 {
    display: inline-block;
    padding-top: 20px;
    margin-top: 10px;
    color: white;
}

.coloum4 {
    display: inline-block;
    padding-top: -20px;
    margin-top: -10px;
    color: grey;
}

.hd10 {

    font-size: 50px;
    padding-top: 40px;
    padding-left: 80px;
}

.hd11 {
    color: white;
    padding-left: 126px;
    padding-bottom: -100px;
}

.hd12 {
    color: white;
    margin-top: -100px;
    margin-left: 129px;
}

.hd13 {
    font-size: 45px;
}

.ul3 li {
    list-style: none;
    padding-left: 125px;
}

.ul3 li a {
    text-decoration: none;
    color: grey;
    margin-left: -31px;
}
}

.ul4 li a {
    padding-top: -100px;
    text-decoration: none;
    color: grey;
}

.ul4 li {
    list-style: none;
    padding-left: 125px;
}

.coloum5 {
    padding: 29px;
    margin-top: -160px;
    width: 44%;
    float: right;
    color: grey;
}

.footer {
    width: 1200px
}

.lastline {
    padding-left: 12px;
    padding-top: 5px;
    margin: auto;
    display: block;
    height: 30px;
    background-color: #E8E3DF;
}

.hd16 {
    font-weight: 600;
    display: block;
    width: 20%;
    margin: auto;
}

@media only screen and (max-width:900px) {
    .cloumn2 {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .cloumn2 {
        width: 100%;
    }
}